body {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  padding: 20px;
}

input {
  font-size: 16px;
}

img {
  margin-top: 20px;
  border: 2px solid #444;
  border-radius: 8px;
}

#resultContainer {
  margin-top: 20px;
  text-align: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.prediction {
  margin: 10px 0;
}

.bar-container {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}

.bar {
  height: 100%;
  background-color: #4caf50;
  text-align: right;
  color: white;
  padding-right: 5px;
  font-size: 12px;
}
